//------footer-----//
.footer {
    
    background-color: $third-bg;

}

.footer__container {
    max-width: 768px;
    padding: 0;
@media screen and (min-width:1200px){
    max-width: 1200px;
    
}
}


.footer-big {}

.footer-big__list {
@media screen and (min-width:1200px){
    display: flex;
}
}

.footer-big__online-item {
@media screen and (max-width:768px){
    margin-bottom: 40px;
    }
padding: 100px 0;
@media screen and (min-width:1200px){
    flex: 1 1 auto;
    padding: 100px 40px 0 0;
}
}
   

.footer-big__online-title {
    
}

.footer-title {
    display: block;
    color: $second-font-color;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
@media screen and (min-width:768px){
    font-size: 42px;
    text-align-last: left;
}
}

.form {
 
}

.form__date {
    margin-bottom: 40px;
@media screen and (min-width:768px){
    display: flex;
    margin-right: -30px;
}
   
}

.form__field {
    position: relative;
    margin-bottom: 40px;
    &:nth-child(2) {
            margin-bottom: 0;
        }
          &:nth-child(3) {
              margin-bottom: 0;
          }
@media screen and (min-width:768px) {
    flex-basis: calc(100% - 30px / 2);
    margin-right: 30px;
    margin-bottom: 0;
    }

}

.form__label {
    color: $contact-color;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    transition:color 300ms linear, transform 300ms linear;

}

.form__input {
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    border-top: none;
    border-right: none;
    border-left: none;
    height: 24px;
    outline: transparent;
    color:$second-font-color;
        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.1em;
@media screen and (min-width:1200px){
    &:hover,
    &:focus{
        border-bottom: 1px solid $primery-bg;
    }
}
}
.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
    color: $second-font-color;
    transform: translateY(-100%);
    
}

.form__message {
    .form__field{
@media screen and (min-width:1200px) {
            margin-right: 0; 
    }
    }
}

.footer__texarea {
        resize: none;
        height: 76px;
}


.footer-big__contact-item {
    text-align: center;
    padding: 100px 0;
    background-image: url("../image/tablet/footer-bg-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
@media screen and (min-width:1200px){
    flex: 0 0 570px;
    padding-left: 100px;
}
}
.footer-big__flex{
@media screen and (min-width:768px){
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:1200px) {
   flex-direction: column;
  
}

}
.footer-big__adress-list {
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}
.footer-big__adress{
    display: block;
    margin-bottom: 40px;
@media screen and (max-width:768px){
    flex: 0 1 330px;
    
}
@media screen and (min-width:1200px){
    margin-bottom: 70px;
}
    
}
.footer-big__adress-item {
    @media screen and (min-width:768px){
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
}

.footer-big__adress-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $contact-color;
    text-decoration: none;
@media screen and (min-width:768px){
    justify-content: left;
}
}

.footer__big-icon {
    margin-right: 18px;
}

.footer-big__working {}




.footer-big__hours {
    color: $contact-color;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
@media screen and (min-width:1200px){
text-align: left;
}
    
}
