
//body
$main-font:'Open Sans', sans-serif;
$main-font-size: 11px;
$main-font-color: #303030;


//text-colors
$second-font-color:#ffff;
$hover-color:#FF6C00;
$hover-color_2:#FFFFFF;
$active-color:#FF6C00;
$active-color_2:#FFFFFF;
$chapter-text-color:#555555;
$service-price-color:#9DA4BD;
$contact-color:#9DA4BD; 

//background-colors
$primery-bg:#ffff;
$secodary-bg:#F7F7F7;
$third-bg:#191C26;
