
.button-burger {
@media screen and (max-width:767px) {
	border: 0;
	background-color: transparent;
}
@media screen and (min-width:768px){
	display: none;
}
}
.button-burger__icon {
}

.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px;
	border: 1px solid $hover-color;
	color: $second-font-color;
	text-transform: uppercase;
	border-radius: 25px;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	background-color: transparent;
@media screen and (min-width:1200px){
	&:hover,
	&:focus{
		background-color: $hover-color;
	}
	
}


}

.button--margin {
	@media screen and (max-width:767px) {
		margin-top: 20px;
	}
	@media screen and (min-width:768px) {
		margin-bottom: 20px;
	}
	@media screen and (min-width:1200px) {
			margin-bottom: 0;
			margin-left: 45px;
	}

}
.button-service{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;

}
.footer-button {
	width: 160px;
margin-top: 44px;
padding: 12px 38px;
@media screen and (max-width:767px){
	margin-left: auto;
		margin-right: auto;
		
	
}
}
.about-best__button--color {
	color: $main-font-color;
	margin-bottom: 20px;
@media screen and (min-width:768px){
	margin:0px;
}
@media screen and (min-width:1200px) {
	margin: 0px;
}
}
